<div class="grid">
    <div [class]="module==modules.ADM?'col-12 lg:col-6 xl:col-2':'col-12 lg:col-6 xl:col-3'" *ngFor="let card of topCards">
        <app-card [card]="card"></app-card>
    </div>

    <!--Calendario-->
    <ng-container *ngIf="module==modules.SCM">
        <div class="col-12 xl:col-9">
            <div class="card">
                <label class="font-bold">Vendas por Representante</label>
                <div echarts [options]="firstChartOption"></div>
            </div>
        </div>
        <div class="col-6 xl:col-3">
            <div class="card">
                <label class="font-bold">Venda da Coleção</label>
                <div echarts [options]="secondChartOption"></div>
            </div>
        </div>
        <!-- <div class="col-6 xl:col-3">
            <div class="card">

            </div>
            <div class="card">

            </div>
        </div> -->
    </ng-container>
    <ng-container *ngIf="module==modules.ADM">

    </ng-container>
    <ng-container *ngIf="module==modules.FPR">

    </ng-container>
    <ng-container *ngIf="module==modules.B2B">

    </ng-container>
    <ng-container *ngIf="module==modules.ORD">
        
    </ng-container>
</div>
