.pag-card{
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-image-preview-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
