<p-dataView 
    layout="grid" 
    emptyMessage="Nenhum registro encontrado!" 
    gridStyleClass="text-center" 
    styleClass="text-center"
    [loading]="loading"
    [value]="response.data">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dropdown 
                [options]="sortOptions" 
                [group]="true" 
                placeholder="Menor Preço" 
                styleClass="mb-2 md:mb-0 p-inputtext-sm" 
                emptyMessage="Nenhum registro encontrado!" (onChange)="orderGrid($event)"
                appendTo="body">
            </p-dropdown>
            <div class="flex md:flex-row flex-column justify-content-center md:justify-content-end md:vertical-align-bottom">
                <p-checkbox [binary]="true" (onChange)="checkUncheckAllGrid($event)" label="Todos" labelStyleClass="mr-2"></p-checkbox>
                <p-dropdown #ddColors [disabled]="!freeGridButton" 
                    [filter]="true" 
                    filterBy="name" 
                    [showClear]="true" 
                    [group]="false" 
                    styleClass="p-inputtext-sm mt-05 mr-1" 
                    placeholder="Selecione a cor" 
                    [options]="all_colors" 
                    optionLabel="name" 
                    [(ngModel)]="selectedGridColors"
                    [ngClass]="{'ng-invalid ng-dirty' : sendAddGrid && selectedGridColors.length > 0}">
                    <ng-template pTemplate="item" let-color>
                        <div class="flex flex-row justify-content-start">
                            <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': color.hexcode}"></span> {{color.name}}
                        </div>
                    </ng-template>
                </p-dropdown>
                <p-button [disabled]="!freeGridButton" styleClass="p-button-sm mr-1 mt-05" label="Adicionar marcados" (onClick)="addCheckedToGrid()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template let-product_grid pTemplate="gridItem">
        <div class="grid grid-nogutter">
            <div class="col-12 md:col-6 lg:col-3 p-2" *ngFor="let product of product_grid">
                <div class="mb-3 relative">                
                    <ng-container *ngFor="let img of product.images">
                        <p-image *ngIf="img.default==true" [src]="selectedImg[product.id]==undefined?img.img_url:selectedImg[product.id]" imageClass="w-full border-round" [preview]="true"></p-image>
                    </ng-container>
                    <div class="absolute flex flex-column top-0 left-0">
                        <ng-container *ngFor="let img of product.images">
                            <img [src]="img.img_url" class="border-1 border-white-alpha-20 border-round cursor-pointer mt-2 ml-2 shadow-4" style="max-width: 50px;" (click)="setImage(product.id,img.img_url)">
                        </ng-container>
                    </div>
                    <div class="absolute flex flex-column top-0 mt-2 right-0 mr-2">
                        <p-checkbox [value]="true" [(ngModel)]="product.checked" (onChange)="verifyAndFreeButton()" [binary]="true"></p-checkbox>
                    </div>
                    <button type="button" pRipple class="p-ripple p-element border-1 border-white-alpha-20 border-round py-3 px-3 absolute bg-black-alpha-30 text-white inline-flex align-items-center justify-content-center hover:bg-black-alpha-40 transition-colors transition-duration-300 cursor-pointer font-semibold shadow-4"
                        [style]="{'bottom':'1rem','right':'1rem','backdrop-filter':'blur(4px)','width':'calc(50% - 2rem)'}" (click)="prepareToAddToCart(product.id)"><i class="pi pi-shopping-custom mr-2"></i> <span class="text-sm">Escolher</span>
                    </button>
                    <button type="button" pRipple class="p-ripple p-element border-1 border-white-alpha-20 border-round py-3 px-3 absolute bg-black-alpha-30 text-white inline-flex align-items-center justify-content-center hover:bg-black-alpha-40 transition-colors transition-duration-300 cursor-pointer font-semibold shadow-4"
                        [style]="{'bottom':'1rem','left':'1rem','backdrop-filter':'blur(4px)','width':'calc(50% - 2rem)'}" (click)="addGrid(product)"><i class="pi pi-grid-view mr-2 text-base"></i> <span class="text-sm">Grade</span>
                    </button>
                </div>
                <div class="flex flex-column align-items-center w-full">
                    <label class="font-semibold mb-3 vertical-align-middle">
                        {{product.name}}
                    </label>
                    <div class="flex flex-column text-center w-full"><span class="text-2xl">{{product.price | currency}}</span><span *ngIf="product.price_pos!=null" class="text-small mb-3">{{product.price_pos | currency}}</span></div>
                    <span *ngIf="product.colors.length == 1" class="border-round p-2 border-1 border-gray-200" [pTooltip]="product.colors[0].name" [ngStyle]="{'background-color': product.colors[0].color}"></span>
                    <p-dropdown *ngIf="product.colors.length > 1" [showClear]="true" 
                        [options]="product.colors" 
                        [(ngModel)]="selectedItemColor[product.id]" 
                        optionValue="id" 
                        optionLabel="name" 
                        styleClass="w-full p-inputtext-sm"
                        placeholder="Selecione...">
                        <ng-template pTemplate="selectedItem" let-selected>
                            <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': selected?.color}"></span>{{selected?.name}}
                        </ng-template>
                        <ng-template pTemplate="item" let-item>
                            <div class="text-left">
                                <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': item.color}"></span>{{item.name}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="listItem">
        
    </ng-template>
</p-dataView>
<div class="pag-card flex flex-row w-full justify-content-center">
    <p-paginator *ngIf="response.pagination.registers>0"
        (onPageChange)="loadProducts($event)"
        [first]="0"
        [rows]="response.pagination.per_page"
        [totalRecords]="response.pagination.registers"
        styleClass="text-xs mt-2 mb-2 w-full"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} de {totalRecords} produto(s)"
        [showPageLinks]="false"
        [showFirstLastIcon]="false">
    </p-paginator>
</div>
<p-dialog [visible]="showDialog" [closable]="false" [modal]="true" [draggable]="false" header="Cor necessária!">
    <p>Por favor selecione a cor do produto para adicionar por grade</p>
    <div class="flex w-full justify-content-center">
        <p-button icon="pi pi-check" label="OK" (onClick)="showDialog = false;"></p-button>
    </div>
</p-dialog>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-dialog [visible]="showNoCustomerDialog" [closable]="false" [modal]="true" [draggable]="true" header="Cliente necessário!">
    <p class="mb-2">Por favor, selecione o cliente abaixo para realizar a inclusão do produto no pedido!</p>
    <div class="flex flex-column w-full justify-content-center">
        <p-dropdown [options]="all_customers" optionLabel="fantasy_name" [(ngModel)]="selectedCustomer" optionValue="id" [filter]="true" [filterBy]="'fantasy_name,name,cnpj'" placeholder="Selecione o cliente" filterPlaceholder="CNPJ, Fantasia ou Razão Social" appendTo="body" styleClass="w-full mb-2"></p-dropdown>
        <div class="flex flex-row justify-content-center w-full">
            <p-button icon="pi pi-ban" label="Cancelar" (onClick)="showNoCustomerDialog = false;" styleClass="p-button-danger mr-1"></p-button>
            <p-button icon="pi pi-check" label="OK" (onClick)="closeAndSave()"></p-button>
        </div>
    </div>
</p-dialog>

<p-dialog [visible]="showAddToCartDialog" [closable]="false" [draggable]="false" [modal]="true" [header]="productToCart!=undefined?productToCart.name:''" [style]="{width: '70vw'}">
    <div class="flex flex-row">
        <div class="flex flex-column">
            <img [src]="productToCartImage!=undefined?productToCartImage.img_url:''" style="max-width: 200px!important;">
        </div>
        <div class="col-9 flex flex-column">
            <div class="flex flex-row text-lg"><strong class="mr-1">REF:</strong> {{ productToCart!=undefined?productToCart.refCode:'' }}</div>
            <div class="flex flex-row text-lg"><strong class="mr-1">Preço Atacado:</strong> {{ (productToCart!=undefined?productToCart.price:0) | currency }}</div>
            <div class="flex flex-row text-2xl justify-content-center">Tamanhos e cores disponíveis</div>
            <p-table [value]="productToCartStock">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Cor</th>
                        <th claass="text-center">Tamanho(s)</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stock>
                    <tr>
                        <td><span class="px-2 border-round mr-1" [ngStyle]="{'background-color': stock.color_hexa}" style="width:20px!important;"></span>{{stock.color_name}}</td>
                        <td>
                            <div class="flex flex-wrap gap-1">
                                <div class="flex flex-column text-center" *ngFor="let szk of stock.sizes; let i = index;">
                                    <label>{{szk.size_code}}</label>
                                    <p-inputNumber [showButtons]="true" [min]="0" [(ngModel)]="stock.sizes[i].size_saved" size="3" [inputStyle]="{'max-width':'40px'}" (ngModelChange)="changeAndSum(stock.color_id)" [disabled]="(stock.sizes[i].size_value==null || stock.sizes[i].size_value==0)?true:false"></p-inputNumber>
                                    <label>{{ szk.size_value }}</label>
                                </div>
                            </div>
                        </td>
                        <td class="justify-content-center vertical-align-middle">{{productToCartSubtotal[productToCart.id][stock.color_id]}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="flex flex-row w-full justify-content-end mt-2">
        <p-button icon="pi pi-ban" label="Cancelar" styleClass="p-button-danger mr-1" (onClick)="showAddToCartDialog = false"></p-button>
        <p-button icon="pi pi-check" label="Adicionar ao Pedido" styleClass="p-button-success" (onClick)="addToCart()"></p-button>
    </div>
</p-dialog>