<p-toast key="systemToast"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card p-3 flex flex-wrap align-items-center vertical-align-middle mb-3">
    <label class="font-bold">Configuração de Comissões de Representantes</label>
</div>
<div class="card">
    <div class="flex flex-column">
        <label class="mb-1">Tipo de Comisssionamento</label>
        <p-dropdown
            placeholder="Selecione..."
            [options]="[{label:'Fixo', value:'F'},{label:'Por Sazonalidade',value:'C'}]"
        >
    </p-dropdown>
    </div>
</div>