<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<!-- <app-form [(visible)]="formVisible" [rows]="formRows" title="Condição de Pagamento" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form> -->
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Estoques de Produtos</label><br>
                <small class="text-cyan-600">* Para editar, marque o item que deseja e utilize as ações massivas</small>
            </div>
            <div class="flex flex-row gap-1">
                <p-overlayPanel #pnlMassive styleClass="w-30rem lg:w-8" >
                    <ng-template pTemplate="content">
                        <h6>Alteração em Massa</h6>
                        <div class="flex flex-column mb-2">
                            <label class="mb-1">Cor(es)</label>
                            <p-multiSelect
                            [options]="all_colors"
                            optionLabel="name"
                            styleClass="p-inputtext-sm w-full"
                            [(ngModel)]="selectedColors"
                            ></p-multiSelect>
                        </div>
                        <div class="flex flex-column mb-2">
                            <label class="mb-1">Grade</label>
                            <p-dropdown
                            [options]="all_grid"
                            optionLabel="name"
                            styleClass="p-inputtext-sm w-full"
                            [(ngModel)]="selectedGrid"
                            (ngModelChange)="onGetGrid($event)">
                            </p-dropdown>
                        </div>
                        <p-table styleClass="mb-2" *ngIf="selectedGridSizes.length > 0" [columns]="selectedGridSizes" [value]="selectedGridSizes">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>Ilimitado</th>
                                    <th>Remover</th>
                                    <th *ngFor="let col of columns" class="text-center">
                                        {{col.name}} ({{col.new_size}})
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns" let-index="rowIndex">
                                <tr *ngIf="index==0">
                                    <td class="text-center">
                                        <p-checkbox [(ngModel)]="ilimited" [binary]="true"></p-checkbox>
                                    </td>
                                    <td class="text-center">
                                        <p-checkbox [(ngModel)]="removeItem" [binary]="true"></p-checkbox>
                                    </td>
                                    <td *ngFor="let col of columns;let i=index" class="text-center">
                                        <p-inputNumber [disabled]="ilimited" [showButtons]="true" size="3" [min]="0" [(ngModel)]="col.value"></p-inputNumber>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div *ngIf="selectedGridSizes.length > 0" class="flex flex-row w-full justify-content-end">
                            <p-button icon="pi pi-cog" label="Executar" styleClass="p-button-sm" (onClick)="onUpdateStockQuantity()"></p-button>
                        </div>
                    </ng-template>
                </p-overlayPanel>
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Arquivar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button>
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar arquivado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id_product"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <!-- <th style="width: 100px!important;" class="text-center" pFrozenColumn>Ações</th> -->
                    <th pSortableColumn="refCode" pFrozenColumn>Referência <p-sortIcon field="refCode"></p-sortIcon></th>
                    <th pSortableColumn="name" pFrozenColumn>Produto <p-sortIcon field="name"></p-sortIcon></th>
                    <th class="text-center">Grade do Estoque</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <!-- <td pFrozenColumn><p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id_product)"></p-button></td> -->
                    <td class="font-bold" pFrozenColumn>{{item.refCode}}</td>
                    <td pFrozenColumn>{{item.product}}</td>
                    <td class="w-6">
                        <p-table
                            styleClass="w-full p-datatable-gridlines"
                            [value]="item.colors">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th >Cor</th>
                                    <th style="width: 70px" *ngFor="let size of item.colors[0].sizes">
                                        {{size.name}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cor>
                                <tr>
                                    <td>{{cor.name}}</td>
                                    <td *ngFor="let size of cor.sizes">
                                        {{size.ilimited==true?999+"+":size.quantity}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog [visible]="formVisible" header="Estoque de Produto" [modal]="true" [closable]="false" styleClass="w-30rem lg:w-8">
    <div class="flex flex-column mb-2">
        <label class="mb-1">Produto</label>
        <p-dropdown *ngIf="idToEdit==0" [options]="all_products"
            optionLabel="name"
            styleClass="w-full"
            appendTo="body"
            [(ngModel)]="selectedProduct"
            [ngClass]="{'ng-invalid ng-dirty' : hasSended && !selectedProduct}"
            >
        </p-dropdown>
        <span *ngIf="idToEdit > 0">{{selectedProduct?.name}}</span>
    </div>
    <div class="flex flex-column mb-2">
        <label class="mb-1">Cor(es)</label>
        <p-multiSelect
        [options]="all_colors"
        optionLabel="name"
        styleClass="p-inputtext-sm w-full"
        [(ngModel)]="selectedColors"
        appendTo="body"
        [ngClass]="{'ng-invalid ng-dirty' : hasSended && selectedColors.length==0}"
        ></p-multiSelect>
    </div>
    <div class="flex flex-column mb-2">
        <label class="mb-1">Grade</label>
        <p-dropdown
            [options]="all_grid"
            optionLabel="name"
            styleClass="p-inputtext-sm w-full"
            [(ngModel)]="selectedGrid"
            (ngModelChange)="onGetGrid($event)"
            [ngClass]="{'ng-invalid ng-dirty' : hasSended && !selectedGrid}"
            >
        </p-dropdown>
    </div>
    <p-table styleClass="mb-2" *ngIf="selectedGridSizes.length > 0" [columns]="selectedGridSizes" [value]="selectedGridSizes">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Ilimitado</th>
                <th *ngFor="let col of columns" class="text-center">
                    {{col.name}} ({{col.new_size}})
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns" let-index="rowIndex">
            <tr *ngIf="index==0">
                <td class="text-center">
                    <p-checkbox [(ngModel)]="ilimited" [binary]="true"></p-checkbox>
                </td>
                <td *ngFor="let col of columns;let i=index" class="text-center">
                    <p-inputNumber [disabled]="ilimited" [showButtons]="true" size="3" [min]="0" [(ngModel)]="col.value"></p-inputNumber>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex flex-row justify-content-end gap-2">
        <p-button severity="danger" icon="pi pi-ban" label="Cancelar" (onClick)="onCancelData()"></p-button>
        <p-button icon="pi pi-save" label="Salvar" (onClick)="onDataSave(null)"></p-button>
    </div>
</p-dialog>