<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Usuário" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Usuários</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-inactive-user icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Desativar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-active-user icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <p-button icon="pi pi-add-users icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Adição em Massa" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="addUsers()"></p-button>
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar desativado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 150px!important;" pFrozenColumn>Ações</th>
                    <th pSortableColumn="username" pFrozenColumn>Username <p-sortIcon field="username"></p-sortIcon></th>
                    <th pSortableColumn="type">Nível de Acesso <p-sortIcon field="type"></p-sortIcon></th>
                    <th pSortableColumn="active">Ativo <p-sortIcon field="active"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn>
                        <p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id)"></p-button>
                        <p-button [text]="true" icon="pi pi-lock-open" pTooltip="Redefinir Senha" tooltipPosition="left" (onClick)="resetUserPassword(item.id,item.username)"></p-button>
                    </td>
                    <td pFrozenColumn>{{item.username}}</td>
                    <td>{{item.type | userType }}</td>
                    <td>{{item.active==true?"Sim":"Não" }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog header="Redefinição de senha" [visible]="showDialogReset" [closable]="false">
    <p>Você solicitou a redefinção de senha do usuário {{usernameReset}}<br> e a nova senha é: <strong>{{tempPassword}}</strong></p>
    <div class="flex flex-row justify-content-center w-full"><p-button icon="pi pi-check" styleClass="p-button-sm p-button-success" label="OK" (onClick)="showDialogReset = false"></p-button></div>
</p-dialog>

<p-sidebar [(visible)]="visibleMassive" position="right" styleClass="w-6">
    <ng-template pTemplate="header"><h5>Adição em Massa</h5></ng-template>
    <div class="flex flex-column w-full">
        <label class="mb-1">Tipo de Entidade</label>
        <p-dropdown
            [options]="[{ value: 'C', label:'Cliente' },{ value:'R', label:'Representante' },{value:'P', label: 'Pessoa (física)'}]" 
            optionLabel="label"
            optionValue="value"
            appendTo="body" 
            [showClear]="true" 
            [filter]="true"
            styleClass="w-full"
            placeholder="Selecione..."
            emptyMessage="Nenhum registro encontrado!"
            [(ngModel)]="filtersToSearch.level">
        </p-dropdown>
    </div>
    <div class="flex flex-row gap-1 mb-2">
        <div class="flex flex-column">
            <label class="mb-1">Estado/UF</label>
            <p-dropdown
                [options]="states"
                [filter]="true"
                filterBy="name,acronym"
                appendTo="body"
                [showClear]="true"
                styleClass="w-full"
                placeholder="Selecione..."
                emptyMessage="Nenhum registro encontrado!"
                [(ngModel)]="filtersToSearch.state_region"
                (ngModelChange)="getCities()"
                >
                <ng-template pTemplate="selectedItem">
                    {{filtersToSearch.state_region?.acronym}} - {{filtersToSearch.state_region?.name}}
                </ng-template>
                <ng-template pTemplate="item" let-item>
                    {{item.acronym}} - {{item.name}}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="flex flex-column w-full">
            <label class="mb-1">Cidade</label>
            <p-dropdown
                [options]="cities"
                [filter]="true"
                filterBy="name,acronym"
                appendTo="body"
                [showClear]="true"
                styleClass="w-full"
                placeholder="Selecione..."
                emptyMessage="Nenhum registro encontrado!"
                [(ngModel)]="filtersToSearch.city">
                <ng-template pTemplate="selectedItem">
                    {{filtersToSearch.city?.name}}
                </ng-template>
                <ng-template pTemplate="item" let-item>
                    {{item.name}}
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="flex flex-row mb-2">
        <p-button icon="pi pi-search icon-xsmall" label="Filtrar" (onClick)="searchToCreate();" styleClass="p-button-sm" [loading]="filtering"></p-button>
    </div>
    <p-table [value]="entitiesToCreateUser" [loading]="filtering" [(selection)]="selectedEntitiesToCreateUser" dataKey="id" styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="350px">
        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Nome</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                <td>{{item.name}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" class="text-center">Nenhum registro existente!</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex flex-row mb-2 gap-1">
        <div class="flex flex-column w-full">
            <label class="mb-1">Regra</label>
            <p-dropdown
                [options]="[{ value: 'FL', label:'Primeiro e Último sobrenome' },{ value:'IL', label:'Inicial do Primeiro nome + Sobrenome' },{ value:'PI',label:'Primeiro nome + Inicial do Último Sobrenome' }]" 
                optionLabel="label"
                appendTo="body" 
                [showClear]="true" 
                [filter]="true"
                styleClass="w-full"
                placeholder="Selecione..."
                emptyMessage="Nenhum registro encontrado!"
                [(ngModel)]="filtersToSearch.rule"
                [ngClass]="{'ng-invalid ng-dirty' : validate && !filtersToSearch.rule}">
            </p-dropdown>
        </div>
        <div class="flex flex-column">
            <label class="mb-1">Tipo de Usuário</label>
            <p-dropdown
                [options]="[{ value: 'L', label: 'Lojista'},{ value:'I', label: 'Lojista (IA)' },{ value: 'R', label: 'Representante'}]"
                optionLabel="label"
                appendTo="body"
                [showClear]="true"
                placeholder="Selecione..."
                emptyMessage="Nenhum registro encontrado!"
                [(ngModel)]="filtersToSearch.user_type"
                [ngClass]="{'ng-invalid ng-dirty' : validate && !filtersToSearch.user_type}"
            ></p-dropdown>
        </div>
        <div class="flex flex-column">
            <label class="mb-1">Senha inicial:</label>
            <p-password styleClass="w-full" inputStyleClass="w-full" appendTo="body" promptLabel="Digite a senha"  weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte" [toggleMask]="true" [(ngModel)]="filtersToSearch.password" [ngClass]="{'ng-invalid ng-dirty' : validate && !filtersToSearch.password}"></p-password>
        </div>
    </div>
    <div class="flex flex-row justify-content-end gap-1 mt-2">
        <p-button label="Cancelar" severity="warning" icon="pi pi-ban" styleClass="p-button-sm" (onClick)="cancelMassive()"></p-button>
        <p-button label="Executar" severity="primary" icon="pi pi-cog" styleClass="p-button-sm" [disabled]="selectedEntitiesToCreateUser.length==0" (onClick)="executeMassive()" [loading]="sendMassive"></p-button>
    </div>
</p-sidebar>