<app-form [(visible)]="formFolder" [rows]="formRows" title="Pasta" [registryId]="idToEdit" (objectToSave)="onSaveFolder($event)"></app-form>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Relatório" [registryId]="idToEdit" (objectToSave)="onSaveReport($event)"></app-form>
<div class="flex flex-column lg:flex-row gap-3 h-full w-15rem lg:w-full pb-4">
    <p-card styleClass="h-full w-30rem lg:w-25rem" header="Gerenciador de Relatórios">
        <!-- <div class="flex flex-row vertical-align-middle mb-2 justify-content-start">
            <p-button [text]="true"><span class="material-symbols-outlined text-lg" pTooltip="Nova Pasta" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="onNewFolder()">create_new_folder</span></p-button>
            <p-button [text]="true" severity="warning"><span class="material-symbols-outlined text-lg" pTooltip="Novo Relatório" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="onNewReport()">post_add</span></p-button>
            <p-button [text]="true" severity="danger"><span class="material-symbols-outlined text-lg" pTooltip="Excluir Selecionado" tooltipPosition="top" tooltipStyleClass="text-xs">delete</span></p-button>
            <p-divider layout="vertical"></p-divider>
            <p-button [text]="true"><span class="material-symbols-outlined text-lg" pTooltip="Agendar Relatório" tooltipPosition="top" tooltipStyleClass="text-xs">schedule</span></p-button>
            <p-button [text]="true" severity="danger"><span class="material-symbols-outlined text-lg" pTooltip="Excluir Agendamento" tooltipPosition="top" tooltipStyleClass="text-xs">delete_history</span></p-button>
        </div> -->
        <p-tree
        [filter]="true"
        filterPlaceholder="Nome do relatório"
        [virtualScroll]="true"
        [virtualScrollItemSize]="46"
        [value]="t_reports"
        selectionMode="single"
        emptyMessage="Não há relatórios para listar"
        [(selection)]="selectedReport"
        scrollHeight="calc(100vh - 300px)"
        (onNodeSelect)="openReport($event)"
        >
        </p-tree>
    </p-card>
    <p-card ngClass="w-30rem md:w-full lg:w-full" styleClass="h-full mb-2">
        <app-report-view [(isViewMode)]="viewReport" [reportToView]="reportView"></app-report-view>
    </p-card>
</div>