<p-sidebar [(visible)]="visible" position="right" styleClass="w-30rem" (onHide)="clearFilter(false)">
    <ng-template pTemplate="header"><h5>Filtros</h5></ng-template>
    <ng-container *ngFor="let field of fields" >
        <div *ngIf="field.type!=fieldType.RADIO" class="flex flex-column mb-2">
            <label *ngIf="field.type!=fieldType.CHECK" class="mb-1">{{field.label}}</label>
            <input *ngIf="field.type==fieldType.INPUT" pInputText [placeholder]="field.placeholder" [(ngModel)]="field.value">
            <p-inputNumber *ngIf="field.type==fieldType.NUMBER" [(ngModel)]="field.value" [showButtons]="true" [min]="0"></p-inputNumber>
            <p-calendar *ngIf="field.type==fieldType.DATE" dateFormat="dd/mm/yyyy"></p-calendar>
            <p-calendar *ngIf="field.type==fieldType.PERIOD" 
                selectionMode="range" 
                appendTo="body"
                [readonlyInput]="true" 
                [(ngModel)]="field.value" 
                class="p-inputtext-sm pr-2" 
                [showClear]="true" 
                rangeSeparator="-" 
                [placeholder]="field.placeholder" 
                (ngModelChange)="onDateChanged()" 
                dateFormat="dd/mm/yyyy"></p-calendar>
            <p-dropdown *ngIf="field.type==fieldType.COMBO" 
                [options]="field.options" 
                optionValue="value"
                optionLabel="label"
                appendTo="body" 
                [showClear]="true" 
                [filter]="true"
                styleClass="w-full"
                [(ngModel)]="field.value"
                [placeholder]="field.placeholder"
                emptyMessage="Nenhum registro encontrado!"></p-dropdown>
            <p-multiSelect *ngIf="field.type==fieldType.MCOMBO" 
                [options]="field.options" 
                optionValue="value"
                optionLabel="label"
                [(ngModel)]="field.value" 
                [placeholder]="field.placeholder" 
                [showClear]="true"
                display="chip"
                appendTo="body"
                [maxSelectedLabels]="3"
                emptyMessage="Nenhum registro encontrado!"></p-multiSelect>
            <p-checkbox *ngIf="field.type==fieldType.CHECK" [(ngModel)]="field.value" [binary]="true" [label]="field.label"></p-checkbox>
        </div>
        <div class="flex flex-column" *ngIf="field.type==fieldType.RADIO">
            <label class="mb-1">{{field.label}}</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex" *ngFor="let opt of field.options">
                    <p-radioButton [name]="field.name" [value]="opt.value" [label]="opt.label" [(ngModel)]="field.value"></p-radioButton>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="flex flex-row justify-content-end w-full gap-1">
        <p-button icon="pi pi-eraser" label="Limpar filtros" (onClick)="clearFilter()" severity="warning" styleClass="p-button-sm"></p-button>
        <p-button icon="pi pi-search icon-xsmall" label="Filtrar" (onClick)="doFilter();" styleClass="p-button-sm"></p-button>
    </div>
</p-sidebar>