<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Cadastro/Edição de Modelo" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Manutenção de Modelos de Produtos</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-overlayPanel #pnlMassive>
                    <ng-template pTemplate="content">
                        <h5>Alteração em Massa</h5>
                    </ng-template>
                </p-overlayPanel>
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <!-- <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button> -->
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar excluído(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 100px!important;" class="text-center" pFrozenColumn>Ações</th>
                    <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center"><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td><p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id)"></p-button></td>
                    <td>{{item.name}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>