<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Produto" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Produtos</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-overlayPanel #pnlMassive>
                    <ng-template pTemplate="content">
                        <h5>Alteração em Massa</h5>
                    </ng-template>
                </p-overlayPanel>
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <p-button icon="pi pi-upload" styleClass="p-button-sm" pTooltip="Importar" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onImport()"></p-button>
                <!-- <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button> -->
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar excluído(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn>Ações</th>
                    <th pSortableColumn="refCode" pFrozenColumn>Ref. <p-sortIcon field="refCode"></p-sortIcon></th>
                    <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="model_description">Modelo <p-sortIcon field="model_description"></p-sortIcon></th>
                    <th pSortableColumn="type_description">Tipo <p-sortIcon field="type_description"></p-sortIcon></th>
                    <th pSortableColumn="measure_unit">UN. Medida <p-sortIcon field="measure_unit"></p-sortIcon></th>
                    <th pSortableColumn="structure">Estrutura <p-sortIcon field="structure"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn>
                        <p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData(item.id)"></p-button>
                        <!-- <p-button [text]="true" icon="pi pi-prod-grid icon-small" pTooltip="Editar Grade" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="editData(item.id)"></p-button> -->
                    </td>
                    <td pFrozenColumn>{{item.refCode}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.model_description}}</td>
                    <td>{{item.type_description}}</td>
                    <td>{{item.measure_unit }}</td>
                    <td>{{item.structure=='S'?'Simples':'Composto' }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog header="Envio de Imagens" [(visible)]="showDialogUpload" (onHide)="cancelUpload()">
    <p-fileUpload #upl
        [multiple]="true" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo(s)" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-outlined p-button-sm"
        cancelStyleClass="p-button-outlined p-button-sm"
        uploadStyleClass="p-button-outlined p-button-sm"
        [url]="url_upload_images"
        name="files[]"
        [withCredentials]="true"
        [fileLimit]="sysconfig.system.max_upload_images"
        accept="image/*"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-dialog>

<p-dialog header="Importação de Produtos" [(visible)]="showDialogImport" (onHide)="cancelImport()">
    <div class="flex flex-column">
        <p style="text-align: justify;">Utilize o modelo do link abaixo para realizar o envio dos dados para o servidor</p>
        <a href="/assets/product-download.csv">Arquivo de exemplo</a>
    </div>
    <p-fileUpload #upl
        [multiple]="false" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-sm"
        uploadStyleClass="p-button-success p-button-sm"
        cancelStyleClass="p-button-danger p-button-sm"
        [url]="url_upload_import"
        name="files[]"
        [withCredentials]="true"
        accept="image/*"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-dialog>