<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Produto" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Produtos</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <p-button icon="pi pi-upload" styleClass="p-button-sm" pTooltip="Importar" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onImport()"></p-button>
                <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showMassive = true;"></p-button>
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar excluído(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn>Ações</th>
                    <th pSortableColumn="refCode" pFrozenColumn>Ref. <p-sortIcon field="refCode"></p-sortIcon></th>
                    <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="measure_unit">UN. Medida <p-sortIcon field="measure_unit"></p-sortIcon></th>
                    <th pSortableColumn="structure">Preço <p-sortIcon field="structure"></p-sortIcon></th>
                    <th pSortableColumn="model_description">Modelo <p-sortIcon field="model_description"></p-sortIcon></th>
                    <th pSortableColumn="type_description">Tipo <p-sortIcon field="type_description"></p-sortIcon></th>
                    <th>Categoria(s)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn>
                        <p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData(item.id)"></p-button>
                        <!-- <p-button [text]="true" icon="pi pi-prod-grid icon-small" pTooltip="Editar Grade" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="editData(item.id)"></p-button> -->
                    </td>
                    <td class="font-bold" pFrozenColumn>{{item.refCode}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.measure_unit }}</td>
                    <td class="text-right">{{item.price | currency}}</td>
                    <td>{{item.model_description}}</td>
                    <td>{{item.type_description}}</td>
                    <td><div class="flex flex-column"><label class="mb-1" *ngFor="let cat of item.categories">{{cat.name}}</label></div></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog header="Envio de Imagens" [(visible)]="showDialogUpload" (onHide)="cancelUpload()">
    <p-fileUpload #upl
        [multiple]="true" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo(s)" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-outlined p-button-sm"
        cancelStyleClass="p-button-outlined p-button-sm"
        uploadStyleClass="p-button-outlined p-button-sm"
        [url]="url_upload_images"
        name="files[]"
        [withCredentials]="true"
        [fileLimit]="sysconfig.company_max_up_images"
        accept="image/*"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-dialog>

<p-dialog header="Importação de Produtos" [(visible)]="showDialogImport" (onHide)="cancelImport()">
    <div class="flex flex-column mb-3">
        <p style="text-align: justify;">Utilize o modelo do link abaixo para realizar o envio dos dados para o servidor</p>
        <a href="/assets/product-download.csv">Arquivo de exemplo</a>
    </div>
    <p-fileUpload #upl
        [multiple]="false" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-sm"
        uploadStyleClass="p-button-success p-button-sm"
        cancelStyleClass="p-button-danger p-button-sm"
        [url]="url_upload_import"
        name="files[]"
        [withCredentials]="true"
        accept="image/*"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-dialog>

<p-sidebar styleClass="w-30rem" [(visible)]="showMassive" position="right" (onHide)="clearMassive()">
    <ng-template pTemplate="header">Ações em massa</ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-column gap-2 w-full lg:flex-row">
            <p-multiSelect
            placeholder="Selecione a(s) categoria(s)..."
            styleClass="w-full"
            emptyMessage="Nenhuma categoria encontrada!"
            [options]="allOptCateg"
            [(ngModel)]="selectedCategories"
             [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !selectedCategories && selectedAction==actions.CATEGORY,'w-full':true}"
            ></p-multiSelect>
            <p-button icon="pi pi-category icon-xsmall" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.CATEGORY)"></p-button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column w-full gap-2 lg:flex-row">
            <p-dropdown
            [options]="allOptGrid"
            placeholder="Selecione a grade..."
            emptyMessage="Nenhuma grade encontrada!"
            styleClass="w-full"
            [(ngModel)]="selectedGrid"
            [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !selectedGrid && selectedAction==actions.GRID,'w-full':true}"
            ></p-dropdown>
            <p-button icon="pi pi-prod-grid icon-xsmall" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.GRID)"></p-button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column w-full gap-2 lg:flex-row">
            <p-dropdown
            [options]="allOptModel"
            emptyMessage="Nenhum modelo encontrado!"
            placeholder="Selecione o modelo..."
            styleClass="w-full"
            [(ngModel)]="selectedModel"
            [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !selectedModel && selectedAction==actions.MODEL,'w-full':true}"
            ></p-dropdown>
            <p-button icon="pi pi-models icon-xsmall" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.MODEL)"></p-button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column w-full gap-2 lg:flex-row">
            <p-inputNumber 
                styleClass="w-full" 
                [(ngModel)]="newPrice" 
                mode="currency" 
                currency="BRL" 
                locale="pt-BR" 
                placeholder="R$ 0,00" 
                inputStyleClass="w-full"
                [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !newPrice && selectedAction==actions.PRICE, 'w-full':true}"
                ></p-inputNumber>
            <p-button icon="pi pi-dollar" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.PRICE)"></p-button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column w-full gap-2 lg:flex-row">
            <p-dropdown
            [options]="allOptType"
            emptyMessage="Nenhum tipo encontrado!"
            placeholder="Selecione o tipo..."
            styleClass="w-full"
            [(ngModel)]="selectedType"
            [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !selectedType && selectedAction==actions.TYPE,'w-full':true}"
            ></p-dropdown>
            <p-button icon="pi pi-prod-type icon-xsmall" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.TYPE)"></p-button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column gap-2 lg:flex-row w-full">
            <p-dropdown
            [options]="allOptMeasure"
            emptyMessage="Nenhuma un. de medida encontrada!"
            placeholder="Selecione a un. de medida..."
            styleClass="w-full"
            [(ngModel)]="selectedMeasure"
            [ngClass]="{'ng-invalid ng-dirty' : hasSendMassive && !selectedMeasure && selectedAction==actions.MEASURE,'w-full':true}"
            ></p-dropdown>
            <p-button icon="pi pi-unity-measure icon-xsmall" styleClass="w-full lg:w-auto" label="Alterar" (onClick)="executeMassive(actions.MEASURE)"></p-button>
        </div>
    </ng-template>
</p-sidebar>