<div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl pb-5">
      <span class="text-900">Selecione um </span>
      <span class="text-blue-600">m&oacute;dulo de trabalho</span>
  </div>
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <p-button styleClass="p-button-text p-button-raised" [routerLink]="['/admin']">
              <i class="pi pi-shield text-4xl text-yellow-500 pb-1 pt-1"></i>
          </p-button>
          <div class="text-900 text-xl mb-3 font-medium">Admin</div>
          <span class="text-700 line-height-3">Cadastros, configurações e manutenções do sistema</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <p-button styleClass="p-button-text p-button-raised" [routerLink]="['/crm']">
              <span class="material-symbols-outlined text-4xl text-blue-500 pb-1 pt-1">
                handshake
                </span>
          </p-button>
          <div class="text-900 text-xl mb-3 font-medium">CRM</div>
          <span class="text-700 line-height-3">Relacionamento e prospeção de clientes em um só lugar</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <p-button styleClass="p-button-text p-button-raised" [routerLink]="['/salesforce']">
            <span class="material-symbols-outlined text-4xl text-blue-500 pb-1 pt-1">
              real_estate_agent
              </span>
          </p-button>
          <div class="text-900 text-xl mb-3 font-medium">B2B</div>
          <span class="text-700 line-height-3">Plataforma de compras em grande escala</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <p-button styleClass="p-button-text p-button-raised" [routerLink]="['/calendar']">
            <span class="material-symbols-outlined text-4xl text-blue-500 pb-1 pt-1">
              early_on
              </span>
          </p-button>
          <div class="text-900 text-xl mb-3 font-medium">SCM</div>
          <span class="text-700 line-height-3">Gestão de calendário comercial, eventos, orçamentos e vendas</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <p-button styleClass="p-button-text p-button-raised" [routerLink]="['/return']">
            <span class="material-symbols-outlined text-4xl text-blue-500 pb-1 pt-1">
              assignment_return
              </span>
          </p-button>
          <div class="text-900 text-xl mb-3 font-medium">FPR</div>
          <span class="text-700 line-height-3">Gestão de devoluções de produtos</span>
      </div>
      <!-- <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-shield text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
          <span class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
      </div> -->
  </div>
</div>
<p-toast key="sessionRenew"></p-toast>
<p-toast key="sessionToast" (onClose)="dontRenew()">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex:1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
                <h6>{{message.summary}}</h6>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid justify-content-center">
                <div class="col-6">
                    <button type="button" pButton pRipple (click)="renewSession()" label="Sim" class="p-button-sm"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton pRipple (click)="dontRenew()" label="Não" class="p-button-sm"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>