<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Grupo de Cliente" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Grupos de Clientes</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-overlayPanel #pnlMassive>
                    <ng-template pTemplate="content">
                        <h5>Alteração em Massa</h5>
                    </ng-template>
                </p-overlayPanel>
                <p-button icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <!-- <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button> -->
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar excluído(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 180px!important;" class="text-center" pFrozenColumn>Ações</th>
                    <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="representative">Representante <p-sortIcon field="representative"></p-sortIcon></th>
                    <th pSortableColumn="need_approvement">Requer Aprovação? <p-sortIcon field="need_approvement"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn>
                        <p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id)"></p-button>
                        <p-button [text]="true" icon="pi pi-customer-group icon-small" pTooltip="Adicionar Clientes" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditCustomers(item.id)"></p-button>
                        <p-button [text]="true" icon="pi pi-eye" pTooltip="Ver Clientes" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="customerView.toggle($event)"></p-button>
                        <p-overlayPanel #customerView (onShow)="onViewCustomers({page:0,pageCount:0},item.id)" styleClass="w-30rem" (onHide)="onHideCustomers()">
                            <p-table styleClass="p-datatable-sm p-datatable-striped"
                            [value]="customersInGroup.data"
                            [loading]="loadingCustomers"
                            [scrollable]="true"
                            scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Cliente</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{item.name}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center">Nenhum cliente encontrado!</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-paginator *ngIf="customersInGroup.pagination.registers > 0"
                                (onPageChange)="onViewCustomers($event,item.id)"
                                [first]="0"
                                [rows]="customersInGroup.pagination.per_page"
                                [totalRecords]="customersInGroup.pagination.registers"
                                styleClass="text-xs mt-2 mb-2"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="{first} - {last} de {totalRecords}"
                                [showPageLinks]="false"
                                [showFirstLastIcon]="false"
                                >
                            </p-paginator>
                        </p-overlayPanel>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.id_representative!=null?item.representative:'SEM REPRESENTAÇÃO'}}</td>
                    <td class="text-center">{{item.need_approvement==true?'Sim':'Não'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>
<p-sidebar styleClass="w-30rem" [(visible)]="showCustomers" position="right" (onHide)="clearSearch()">
    <ng-template pTemplate="header">Clientes</ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-row gap-1 mb-2">
            <div class="flex flex-column">
                <label class="mb-1">Estado/UF</label>
                <p-dropdown
                    [options]="states"
                    [filter]="true"
                    filterBy="name,acronym"
                    appendTo="body"
                    [showClear]="true"
                    styleClass="w-full"
                    placeholder="Selecione..."
                    emptyMessage="Nenhum registro encontrado!"
                    [(ngModel)]="filtersToSearch.state_region"
                    (ngModelChange)="getCities()"
                    >
                    <ng-template pTemplate="selectedItem">
                        {{filtersToSearch.state_region?.acronym}} - {{filtersToSearch.state_region?.name}}
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                        {{item.acronym}} - {{item.name}}
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="flex flex-column w-full">
                <label class="mb-1">Cidade</label>
                <p-dropdown
                    [options]="cities"
                    [filter]="true"
                    filterBy="name,acronym"
                    appendTo="body"
                    [showClear]="true"
                    styleClass="w-full"
                    placeholder="Selecione..."
                    emptyMessage="Nenhum registro encontrado!"
                    [(ngModel)]="filtersToSearch.city">
                    <ng-template pTemplate="selectedItem">
                        {{filtersToSearch.city?.name}}
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                        {{item.name}}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <p-button icon="pi pi-search icon-xsmall" label="Filtrar" (onClick)="searchToAdd();" styleClass="p-button-sm" [loading]="filtering"></p-button>
        </div>
        <p-table [value]="entitiesToAddInGroup" [loading]="filtering" [(selection)]="selectedEntitiesToAddInGroup" dataKey="id" styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="350px">
            <ng-template pTemplate="header">
                <tr>
                    <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th>Nome</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td>{{item.name}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex flex-row justify-content-end gap-1 mt-2">
            <p-button label="Cancelar" severity="warning" icon="pi pi-ban" styleClass="p-button-sm" (onClick)="cancelMassive()"></p-button>
            <p-button label="Executar" severity="primary" icon="pi pi-cog" styleClass="p-button-sm" [disabled]="selectedEntitiesToAddInGroup.length==0" (onClick)="onAddToGroup()" [loading]="sendCustomer"></p-button>
        </div>
    </ng-template>
</p-sidebar>