<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Manutenção de Grupos de Clientes</label>
            </div>
            <div>
                <p-button icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs"></p-button>
            </div>
        </div>
    </ng-template>
</p-panel>