<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row justify-content-between w-full vertical-align-middle">
            <div class="flex vertical-align-baseline" style="height: 35px;">
                <label class="p-panel-title">Sugestão de pedidos com I.A</label>
            </div>
            <div class="flex flex-row">
                <p-button icon="pi pi-plus" styleClass="p-button-sm p-button-success" label="Novo"></p-button>
            </div>
        </div>
    </ng-template>
</p-panel>
