<p-dialog [(visible)]="openForm" [draggable]="true" [modal]="true" [draggable]="false" class="p-fluid" [style]="{ width: '50vw' }" header="Cadastro/Edição de Evento" (onHide)="closeForm()" (onShow)="loadData()">
    <ng-template pTemplate="content">
        <div class="flex flex-column mb-2">
            <label class="mb-2">Tipo do Evento</label>
            <p-dropdown #ddet 
                appendTo="body" 
                [options]="eventTypes" 
                placeholder="Selecione o tipo do evento..." 
                [showClear]="true" 
                [group]="true" 
                [optionGroupChildren]="'children'" 
                optionLabel="name" 
                (onChange)="onChangeType()" 
                [(ngModel)]="selectedEventType" 
                (onClear)="resetPlaceHolder()"
                emptyMessage="Nenhum tipo de evento disponível"
                [ngClass]="{'ng-invalid ng-dirty' : hasSended && selectedEventType==null}">
                <ng-template pTemplate="selectedItem">
                    {{selectedEventType?.name}}
                </ng-template>
                <ng-template let-event pTemplate="group">
                    <div (click)="setSelectedEventType(event)" style="cursor: pointer;" class="flex flex-wrap align-items-center vertical-align-middle"><div [ngStyle]="{'width':'15px','height':'15px','background-color': event.hex_color}" class="vertical-align-middle"></div> &nbsp;<span style="font-weight: normal!important;">{{event.name}}</span></div>
                </ng-template>
                <ng-template let-children pTemplate="item">
                    <span style="margin-left: 15px!important;" class="flex flex-wrap align-items-center vertical-align-middle"><div [ngStyle]="{'width':'15px','height':'15px','background-color': children.hex_color}" class="vertical-align-middle"></div> &nbsp;{{children.name}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="flex flex-column mb-2" *ngIf="selectedEventType!=null && selectedEventType.use_collection">
            <label class="mb-2">Coleção</label>
            <p-dropdown
                [options]="all_collections"
                optionLabel="name"
                appendTo="body" 
                placeholder="Seleção de Coleção..." 
                emptyMessage="Nenhuma coleção disponível"
                [(ngModel)]="selectedCollection"
            ></p-dropdown>
        </div>
        <div class="flex flex-column mb-2" *ngIf="showParentEvents">
            <label class="mb-2">Evento</label>
            <p-dropdown 
                #ddep
                appendTo="body" 
                [options]="exsistentEvents" 
                optionLabel="name" 
                optionValue="id" 
                emptyMessage="Nenhum evento disponível"
                placeholder="Seleção de Evento..."
                [(ngModel)]="eventParentEventId"
                [ngClass]="{'ng-invalid ng-dirty' : hasSended && showParentEvents && eventParentEventId==0}"
            ></p-dropdown>
        </div>
        <div class="flex flex-column mb-2">
            <label class="mb-2">Nome</label>
            <input pInputText id="txtEventName" class="p-inputtext-sm" [(ngModel)]="eventName" [ngClass]="{'ng-invalid ng-dirty' : hasSended && !eventName}">
        </div>
        <div class="flex flex-row w-full justify-content-between gap-2 mb-2">
            <div class="flex flex-column w-full">
                <label class="mb-2">De</label>
                <p-calendar appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" class="p-inputtext-sm" [(ngModel)]="eventStart" [ngClass]="{'ng-invalid ng-dirty' : hasSended && (eventStart==null || !validPeriod)}"></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="hasSended && validPeriod==false">Per&iacute;odo inv&aacute;lido.</small>
            </div>
            <div class="flex flex-column w-full">
                <label class="mb-2">Até</label>
                <p-calendar appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="eventEnd" [ngClass]="{'ng-invalid ng-dirty' : hasSended && (eventEnd==null || !validPeriod) }"></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="hasSended && validPeriod==false">Per&iacute;odo inv&aacute;lido.</small>
            </div>
        </div>
        <div class="flex flex-column mb-2" *ngIf="selectedEventType!=null && selectedEventType.has_budget">
            <label class="mb-2">Orçamento</label>
            <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" [(ngModel)]="eventBudget" [ngClass]="{'ng-invalid ng-dirty' : hasSended && selectedEventType!=null && selectedEventType.has_budget && eventBudget==null}"></p-inputNumber>
        </div>
        <div class="flex flex-row justify-content-end gap-2">
            <p-button pRipple label="Cancelar" icon="pi pi-times" styleClass="p-button-sm" [severity]="'danger'" (click)="closeForm()"></p-button>
            <p-button pRipple label="Salvar" icon="pi pi-check" styleClass="p-button-sm" (click)="onSubmit()"></p-button>
        </div>
    </ng-template>
</p-dialog>