<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row justify-content-between w-full vertical-align-middle">
            <div class="vertical-align-baseline">
                <label class="p-panel-title">Devoluções</label>
            </div>
            <div class="flex flex-row">
                <p-button icon="pi pi-plus" styleClass="p-button-sm p-button-success" label="Nova"></p-button>
            </div>
        </div>
    </ng-template>
</p-panel>

<p-dialog>
    
</p-dialog>