<p-toast key="systemToast" [position]="'bottom-right'"></p-toast>
<p-confirmDialog></p-confirmDialog>
<!--barra superior-->
<div class="card p-3 mb-2 grid">
    <div class="col">
        <p-dropdown #funSel [options]="response.data" optionLabel="name" [(ngModel)]="selectedFunnel" styleClass="p-inputtext-sm" (onChange)="changeFunnel($event)"></p-dropdown>
    </div>
    <div class="lg:col col-12 justify-content-end">
        <p-button icon="pi pi-plus-circle" [rounded]="true" [text]="true" pTooltip="Novo Cliente" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showCustomerInfo(0,0)"></p-button>
        <p-button icon="pi pi-check-circle" [rounded]="true" [text]="true" pTooltip="Adicionar Cliente Existente" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="searchCustomers()"></p-button>
        <p-button icon="pi pi-minus-circle" [rounded]="true" [text]="true" pTooltip="Remover selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="delCustomersSelected()"></p-button>

        <p-button [text]="true" [rounded]="true" severity="help" pTooltip="Recarregar Funil" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="getFunnels('can:list_all true')"><span class="material-symbols-outlined text-lg">autorenew</span></p-button>
        <p-button [text]="true" [rounded]="true" severity="help" pTooltip="Enviar e-mail para selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showEmailSendMassive()"><span class="material-symbols-outlined text-lg">stacked_email</span></p-button>
        <p-button [text]="true" severity="help" [rounded]="true" pTooltip="Mover selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="opStages.toggle($event)"><span class="material-symbols-outlined text-lg">move_group</span></p-button>
        <p-overlayPanel #opStages>
            <ng-template pTemplate="content">
                <div class="flex flex-column">
                    <label>Funil</label>
                    <p-dropdown [options]="response.data" optionLabel="name" styleClass="p-inputtext-sm w-full" (onChange)="getStagesOfFunnel($event)" [ngModel]="selectedFunnel"></p-dropdown>
                    <label>Etapa</label>
                    <p-dropdown [options]="stagesToMove" optionLabel="name" (onChange)="moveSelectedsToStage()" [(ngModel)]="stageToMove" emptyMessage="Nenhum registro encontrado!" styleClass="p-inputtext-sm w-full"></p-dropdown>
                </div>
            </ng-template>
        </p-overlayPanel>
        <!-- <p-button [disabled]="true" icon="pi pi-users" styleClass="p-button-rounded p-button-text p-button-warning" pTooltip="Detectar e Mesclar" tooltipPosition="top" tooltipStyleClass="text-xs"></p-button> -->

        <p-button [disabled]="selectedFunnel.type=='P'?false:true" icon="pi pi-upload" styleClass="p-button-rounded  p-button-text p-button-success" pTooltip="Importar registros de clientes" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="openToImport()"></p-button>
        <p-button [disabled]="true" icon="pi pi-file-excel" styleClass="p-button-rounded  p-button-success p-button-text" pTooltip="Exportar para CSV" tooltipPosition="top" tooltipStyleClass="text-xs"></p-button>
        <p-button [disabled]="true" icon="pi pi-file-export" styleClass="p-button-rounded  p-button-success p-button-text" pTooltip="Exportar para JSON" tooltipPosition="top" tooltipStyleClass="text-xs"></p-button>
    </div>
    <div class="lg:col-2 col-12">
        <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-search"/>
            <input type="text" pInputText placeholder="Procurar..." (keydown)="doGlobalSearch($event)" class="p-inputtext-sm" [(ngModel)]="globalSearchInput"/>
        </p-iconField>
    </div>
</div>

<div class="flex justify-content-between overflow-x-scroll col-12 min-w-full overflow-y-hidden crm-kanban-stages-height">
    <ng-container *ngFor="let stage of stagesOfFunnel;let i=index">
        <!--Inicio do stagio de funil-->
        <div class="p-panel w-full" [ngClass]="i<stagesOfFunnel.length-1?'pr-2':''">
            <div class="p-panel-header flex justify-content-between flex-grow-1 " [ngStyle]="{'background-color': stage.color}">
                <div class="flex flex-column vertical-align-middle">
                    <span class="font-medium"><span class="material-symbols-outlined vertical-align-text-bottom icon-small" [ngStyle]="{'color': stage.icon_color}">{{stage.icon}}</span> {{stage.name}}</span>
                    <a href="javascript:void(0)" class="text-sm text-800" (click)="checkAll(stage.id)"><span class="material-symbols-outlined vertical-align-text-bottom icon-small" [ngStyle]="{'color': stage.icon_color}">done_all</span> Marcar todos</a>
                    <span class="text-xs ml-1">{{customersOfStage[stage.id].pagination.registers}} clientes</span>
                </div>
                <div class="flex flex-column justify-content-start vertical-align-top">
                    <p-menu #menu [popup]="true" [model]="stageMenu[stage.id]" styleClass="text-sm"></p-menu>
                    <a href='javascript:void(0)' (click)="menu.toggle($event)" class="pb-2"><i class="pi pi-ellipsis-v text-900 text-sm pt-0"></i></a>
                    <p-overlayPanel #filter>
                        <ng-template pTemplate="content">
                            <p-dropdown styleClass="w-full" [options]="stageSearch[stage.id]" [(ngModel)]="stageSearchCondition[stage.id]" optionValue="type"></p-dropdown>
                            <div class="p-inputgroup pt-2">
                                <input type="text" pInputText placeholder="Procurar..." [(ngModel)]="stageSearchTerm[stage.id]" styleClass="p-inputtext-sm"/>
                                <button type="button" pButton icon="pi pi-search" (click)="doLocalSearch(stage.id)"></button>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
                    <a href="javascript:void(0)" (click)="filter.toggle($event)"><i class="pi pi-filter text-900 text-sm"></i></a>
                </div>
            </div>
            <div class="flex flex-column crm-kanban-stage bg-{{stage.color}}-50" pDroppable (onDrop)="finishMove(stage.id)">
                <div class="pl-2 pr-2">
                    <!--Inicio do card de cliente-->
                    <ng-container *ngIf="customersOfStage[stage.id].pagination.registers>0">
                        <ng-container *ngFor="let customer of customersOfStage[stage.id].data">
                            <div class="mt-2 p-card p-component" pDraggable (onDragStart)="startMove(customer,stage.id)">
                                    <div class="flex flex-row justify-content-between pb-2">
                                        <div class="flex flex-column overflow-hidden  pt-3 pl-2 pr-3">
                                            <div class="flex flex-row gap-1">
                                                <p-checkbox inputId="chkEmpresa{{customer.id}}" [style]="{ width: '20px', height:'18px'}" [(ngModel)]="stageChecked[stage.id][customer.id]" [binary]="true"></p-checkbox>
                                                <label class="text-overflow-ellipsis white-space-nowrap overflow-hidden font-medium" for="chkEmpresa" pTooltip="{{customer.name}}" tooltipStyleClass="text-xs text-center" tooltipPosition="top">{{customer.name}}</label>
                                            </div>
                                            <p class="text-xs" style="margin-left: 27px!important;">Desde: {{customer.date_created | date}}</p>
                                        </div>
                                        <!-- <div class="hidden pt-3 pr-2"> -->
                                        <div *ngIf="selectedFunnel?.type=='S'" class="flex flex-row pt-3 pr-2">
                                            <div class="flex flex-column align-content-center text-xs text-center" style="padding:1px">
                                                <i class="pi pi-star" style="font-size:9px!important;"></i>
                                                <!-- <i class="pi pi-star-fill" style="font-size:9px!important;color:gold"></i> -->
                                            </div>
                                            <div class="flex flex-column align-content-center text-xs text-center" style="padding:1px">
                                                <i class="pi pi-star" style="font-size:9px!important"></i>
                                                <!-- <i class="pi pi-star-fill" style="font-size:9px!important;color:gold"></i> -->
                                            </div>
                                            <div class="flex flex-column align-content-center text-xs text-center" style="padding:1px">
                                                <i class="pi pi-star" style="font-size:9px!important"></i>
                                            </div>
                                            <div class="flex flex-column align-content-center text-xs text-center" style="padding:1px">
                                                <i class="pi pi-star" style="font-size:9px!important"></i>
                                            </div>
                                            <div class="flex flex-column align-content-center text-xs text-center" style="padding:1px">
                                                <i class="pi pi-star" style="font-size:9px!important"></i>
                                            </div>
                                        </div>
                                    </div>
                                <p-divider styleClass="m-1"></p-divider>
                                <p-overlayPanel #pnlComment styleClass="w-30rem">
                                    <ng-template pTemplate="content">
                                        <div class="flex flex-column">
                                            <label class="mb-1">Observação: </label>
                                            <textarea pInputTextarea rows="5" [(ngModel)]="customerComment"></textarea>
                                        </div>
                                        <div class="flex flex-row justify-content-end mt-2">
                                            <p-button icon="pi pi-save" label="Salvar" styleClass="p-button-sm" (onClick)="saveCustomerComment(customer.id,pnlComment)"></p-button>
                                        </div>
                                    </ng-template>
                                </p-overlayPanel>
                                <div class="pt-3 px-6 pb-3 flex flex-row vertical-align-middle justify-content-between">
                                    <!-- <a href="javascript:void(0)" pTooltip="Agendar Notificação" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="tasks.toggle($event)"><i class="pi pi-clock text-800"></i></a> -->
                                    <a href="javascript:void(0)" pTooltip="Enviar E-mail" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="showEmailSend(customer)"><i class="pi pi-envelope text-800"></i></a>
                                    <a href="javascript:void(0)" pTooltip="Anexar Arquivo" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="showUpload(customer)"><i class="pi pi-paperclip text-800"></i></a>
                                    <!-- <a href="javascript:void(0)" pTooltip="Enviar mensagem" tooltipPosition="top"><i class="pi pi-whatsapp text-800"></i></a> -->
                                    <a href="javascript:void(0)" pTooltip="Informações do Cliente" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="showCustomerInfo(customer.id,stage.id)"><i class="pi pi-info-circle text-800"></i></a>
                                    <a href="javascript:void(0)" pTooltip="Adicionar Observação" tooltipPosition="top" tooltipStyleClass="text-xs" (click)="pnlComment.toggle($event)"><i class="pi pi-comment text-800"></i></a>
                                    <a href="javascript:void(0)" pTooltip="Ver histórico" tooltipPosition="top" (click)="showHistory(customer)" tooltipStyleClass="text-xs"><i class="pi pi-history text-800"></i></a>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <!--Fimd do card de cliente-->
                    <p-paginator 
                        *ngIf="customersOfStage[stage.id].pagination.registers > 0" 
                        (onPageChange)="loadCustomerState($event,stage.id,customersOfStage[stage.id].pagination.has_next)"
                        [first]="first[stage.id]"
                        [rows]="rows[stage.id]"
                        [totalRecords]="customersOfStage[stage.id].pagination.registers"
                        styleClass="text-xs mt-2 mb-2"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="{first} - {last} de {totalRecords}" 
                        [showPageLinks]="false" 
                        [showFirstLastIcon]="false"
                        ></p-paginator>
                </div>
            </div>
        </div>
        <!--Fim do stagio de funil-->
    </ng-container>
</div>

<!--painel de exibicao do historico-->
<p-sidebar [(visible)]="historyVisible" position="right" styleClass="w-30rem lg:w-5" >
    <h3 class="w-full text-center">Histórico do Cliente</h3>
    <p class="w-full text-center">{{infoCustomer.fantasy_name}}</p>
    <p-divider></p-divider>
    <app-customer-history [loadHistory]="historyVisible" [idCustomer]="infoCustomer.id"></app-customer-history>
</p-sidebar>

<!--painel de envio de arquivo-->
<p-sidebar [(visible)]="uploadVisible" position="bottom" styleClass="h-20rem">
    <h4 class="w-full text-center">Envio de arquivo</h4>
    <p class="text-center">{{infoCustomer.name}}</p>
    <p-fileUpload #upl
        [multiple]="true" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo(s)" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-outlined p-button-sm"
        cancelStyleClass="p-button-outlined p-button-sm"
        uploadStyleClass="p-button-outlined p-button-sm"
        [url]="url_upload"
        name="files[]"
        [withCredentials]="true"
        [fileLimit]="sysconfig.company_max_up_files"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-sidebar>
 
<!--envio de email-->
<p-dialog [(visible)]="emailVisible" styleClass="w-30rem lg:w-9" [modal]="true" [draggable]="false">
    <ng-template pTemplate="header">
        <div class="flex justify-content-end w-full mr-1">
            <span class="w-full text-center align-baseline">Envio de e-mail para: {{infoCustomer.name}}</span>
        </div>
    </ng-template>
    <app-customer-email #cstEmail [emailToList]="cstEmail.emailToList" [uploadHeaders]="uploadHeaders" [uploadMax]="sysconfig.company_max_up_files" [massiveEmail]="massiveEmail" (messageToShow)="showMessage($event)"></app-customer-email>
</p-dialog>

<p-dialog header="Importação de Registros" [(visible)]="importVisible" [style]="{'width': '70vw'}" [modal]="true" [draggable]="false">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between w-full mr-1">
            <span class="p-dialog-title w-full">Importação de Registros</span>
            <span class="w-full text-center align-baseline justify-content-end">Arquivo Exemplo: <a href="/assets/files/exemplo.csv">exemplo.csv</a></span>
        </div>
    </ng-template>
    <div class="flex flex-column">
        <p-fileUpload #upl
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-outlined p-button-sm"
        cancelStyleClass="p-button-outlined p-button-sm"
        uploadStyleClass="p-button-outlined p-button-sm"
        [url]="url_upload"
        name="files[]"
        [withCredentials]="true"
        [fileLimit]="sysconfig.company_max_up_files"
        [headers]="uploadHeaders"
        [multiple]="false"
        accept=".csv"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"></p-fileUpload>
    </div>
    <div class="flex flex-column">
        <label class="mb-2">Importações realizadas</label>
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>Arquivo</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<p-sidebar [(visible)]="infoVisible" styleClass="w-30rem lg:w-6" [modal]="true" position="right" (onHide)="resetForm($event)">
    <ng-template pTemplate="header">
        <h3 class="w-full text-center">Informações do Cliente</h3>
    </ng-template>  
    <app-customer-data 
        (messageToShow)="showMessage($event)" 
        [idEditableCustomer]="infoCustomer.id" 
        [isVisible]="infoVisible"
        [(idStageOfCustomer)]="stageOfCustomer"
        [idCustomerFunnel]="funnelOfCustomer"></app-customer-data>
</p-sidebar>


<p-sidebar styleClass="w-30rem" [(visible)]="showCustomers" position="right" (onHide)="clearSearch()">
    <ng-template pTemplate="header">Clientes</ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-row gap-1 mb-2 w-full">
            <div class="flex flex-column w-full">
                <label class="mb-1">Funil</label>
                <p-dropdown styleClass="w-full"
                [options]="all_funnels"
                optionLabel="name"
                emptyMessage="Nenhum funil disponível"
                [(ngModel)]="selectedFunnelToCustomers"
                (onChange)="getFunnelStages($event)"
                placeholder="Selecione..."></p-dropdown>
            </div>
            <div class="flex flex-column w-full">
                <label class="mb-1">Estágio</label>
                <p-dropdown styleClass="w-full"
                [options]="stages_from_funnel"
                optionLabel="name"
                [loading]="stageLoading"
                [(ngModel)]="selectedStageToCustomers"
                emptyMessage="Nenhum estágio encontrado"></p-dropdown>
            </div>
        </div>
        <hr size="1">
        <p-table [value]="entitiesToAddInCRM" [loading]="filtering" [(selection)]="selectedEntitiesToAddInCRM" dataKey="id" styleClass="p-datatable-striped mb-2" [scrollable]="true" scrollHeight="350px">
            <ng-template pTemplate="header">
                <tr>
                    <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th>Nome / Fantasia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td>{{item.name}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex flex-row justify-content-end gap-1 mt-2">
            <p-button label="Cancelar" severity="warning" icon="pi pi-ban" styleClass="p-button-sm" (onClick)="cancelMassive()"></p-button>
            <p-button label="Executar" severity="primary" icon="pi pi-cog" styleClass="p-button-sm" [disabled]="selectedEntitiesToAddInCRM.length==0" (onClick)="onAddToCRM()" [loading]="sendCustomer"></p-button>
        </div>
    </ng-template>
</p-sidebar>