<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row justify-content-between w-full vertical-align-middle">
                <label class="p-panel-title">Devoluções</label>
        </div>
        <div class="flex flex-row w-full justify-content-end">
            <p-button icon="pi pi-plus" styleClass="p-button-sm p-button-success" label="Nova" (onClick)="showDialog = true"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <p-table
        [loading]="loading"
        [value]="response.data">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th pSortableColumn="date_created">Data do Pedido <p-sortIcon field="date_created"></p-sortIcon></th> -->
                    <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="date">Data de Solicitação <p-sortIcon field="date"></p-sortIcon></th>
                    <th *ngIf="level_access==levels.ADMIN">Cliente <p-sortIcon field="date"></p-sortIcon></th>
                    <th pSortableColumn="id_order">Pedido <p-sortIcon field="id_order"></p-sortIcon></th>
                    <th pSortableColumn="order_date">Data do Pedido <p-sortIcon field="order_date"></p-sortIcon></th>
                    <th pSortableColumn="status">Condição <p-sortIcon field="status"></p-sortIcon></th>
                    <th>Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-devolution>
                <tr>
                    <td>{{devolution.id}}</td>
                    <td>{{devolution.date | date}}</td>
                    <td *ngIf="level_access==levels.ADMIN">{{devolution.customer}}</td>
                    <td>{{devolution.id_order}}</td>
                    <td>{{devolution.order_date | date}}</td>
                    <td><p-tag [severity]="getSeverity(devolution.status)">{{devolution.status | devolutionStatus}}</p-tag></td>
                    <td><p-button [disabled]="devolution.status!=status.APPROVED_ALL && devolution.status!=status.APPROVED_PART && devolution.status!=status.FINISHED" [text]="true" icon="pi pi-eye" pTooltip="Visualizar e Finalizar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onView(devolution.id)"></p-button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false">
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog [visible]="showDialog" header="Nova devolução" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '90vw'}">
    <div class="flex flex-column w-full mb-2">
        <label class="mb-2">Pedido</label>
        <p-dropdown appendTo="body" emptyMessage="Nenhum pedido finalizado encontrado" [filter]="true" [options]="allOrders" [(ngModel)]="selectedOrder" styleClass="w-full" panelStyleClass="w-full" placeholder="Selecione o pedido desejado..." (ngModelChange)="loadOrder()">
            <ng-template pTemplate="selectedItem">
                <div class="flex flex-row" *ngIf="selectedOrder">
                    {{selectedOrder.id_order}} - {{selectedOrder.date_created}}
                </div>
            </ng-template>
            <ng-template let-order pTemplate="item">
                <div class="flex flex-row">
                    {{order.id_order}} - {{order.date_created}}
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="flex flex-column w-full mb-2" *ngIf="localOrder">
        <p-table 
        styleClass="p-datatable-striped" 
        [value]="localOrder.products"
        scrollHeight="300px" 
        [scrollable]="true"
        dataKey="id_order_product"
        [selection]="selectedDevolutionProducts" 
        (selectionChange)="setToUpload($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th><p-tableHeaderCheckbox/></th>
                    <th>Produto</th>
                    <th>Cor</th>
                    <th>Tamanho</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Desconto</th>
                    <th>Motivo</th>
                    <th>Quantidade</th>
                    <th>Fato</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td><p-tableCheckbox [value]="item"/></td>
                    <td style="min-width: 300px!important;">{{item.name}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.discount}}</td>
                    <td><p-dropdown 
                        placeholder="Selecione..." 
                        [options]="allReasons" 
                        optionLabel="description" 
                        [disabled]="selectedProduct[item.id_order_product]"
                        [(ngModel)]="selectedReason[item.id_order_product]"
                        styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : hasSended && (selectedReason[item.id_order_product].id == 0 && !selectedProduct[item.id_order_product])}"
                        ></p-dropdown></td>
                    <td><p-inputNumber 
                        [disabled]="selectedProduct[item.id_order_product]" 
                        [showButtons]="true" 
                        size="3" 
                        min="0" 
                        [max]="item.quantity" 
                        [(ngModel)]="selectedQuantity[item.id_order_product]"
                        [ngClass]="{'ng-invalid ng-dirty' : hasSended && (selectedQuantity[item.id_order_product] == 0 && !selectedProduct[item.id_order_product])}"
                        ></p-inputNumber></td>
                    <td><p-fileUpload
                        chooseIcon="pi pi-add-photo" 
                        chooseLabel="" 
                        uploadIcon="pi pi-photo"
                        [multiple]="true" 
                        uploadLabel="" 
                        mode="basic"
                        name="files[]"
                        accept="image/*" 
                        [maxFileSize]="1000000"
                        chooseStyleClass="p-button-sm" 
                        styleClass="p-button-sm" 
                        [headers]="uploadHeaders" 
                        [fileLimit]="sysconfig.system.max_upload_images" 
                        [withCredentials]="true" 
                        [url]="sysconfig.backend_cmm+'/upload/return/'+selectedOrder?.id_order_number+'/'+item.id_product+'/'+item.id_color+'/'+item.id_size" 
                        [auto]="true"
                        [disabled]="selectedProduct[item.id_order_product]"
                        [pTooltip]="'Selecione até '+sysconfig.system.max_upload_images+' para enviar'"
                        tooltipStyleClass="text-xs"
                        tooltipPosition="top"
                        (onUpload)="setSendedPictures($event,item.id_order_product)"
                        ></p-fileUpload></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-row w-full justify-content-end">
        <p-button icon="pi pi-ban" styleClass="p-button-sm mr-1" severity="danger" label="Cancelar" (onClick)="onCancel()"></p-button>
        <!-- <p-button icon="pi pi-save" styleClass="mr-1" label="Salvar devolução" (onClick)="onSave(status.SAVED)"></p-button> -->
        <p-button icon="pi pi-check-circle" styleClass="p-button-sm" severity="help" label="Notificar devolução" (onClick)="onSave(status.PENDING)"></p-button>
    </div>
</p-dialog>


<p-dialog [visible]="formVisible" header="Verificação de devolução" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '90vw'}" appendTo="body">
    <div class="flex flex-row justify-content-between mb-5">
        <div class="flex flex-column">
            <label><strong>Pedido:</strong> {{onOrderNumber(selectedDevolution.id_order)}}</label>
        </div>
        <div class="flex flex-column">
            <label><strong>Data do Pedido:</strong> {{selectedDevolution.order_date | date}}</label>
        </div>
        <div class="flex flex-column">
            <label><strong>Cliente:</strong> {{selectedDevolution.customer}}</label>
        </div>
        <div class="flex flex-column">
            <label><strong>Data da solicitação:</strong> {{selectedDevolution.date | date}}</label>
        </div>
    </div>
    <p-table
    styleClass="p-datatable-striped mb-2"
    [value]="selectedDevolution.items"
    dataKey="id_devolution">
        <ng-template pTemplate="header">
            <tr>
                <th>Produto</th>
                <th>Cor</th>
                <th>Tamanho</th>
                <th>Quantidade</th>
                <th>Motivo</th>
                <!-- <th>Fato</th> -->
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name_product}}</td>
                <td>{{item.name_color}}</td>
                <td>{{item.name_size}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.reason}}</td>
                <!-- <td>&nbsp;</td> -->
                <td><label [ngClass]="item.status==true?'text-green-500':'text-red-500'">{{item.status==true?'Aprovado':'Recusado'}}</label></td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex flex-row w-full justify-content-end gap-1">
        <p-button *ngIf="selectedDevolution.status==status.FINISHED" icon="pi pi-ban" styleClass="p-button-sm mr-1" severity="danger" label="Cancelar" (onClick)="onCancel()"></p-button>
        <p-button *ngIf="selectedDevolution.status!=status.FINISHED" icon="pi pi-check-circle" styleClass="p-button-sm" label="Finalizar" (onClick)="onFinish()"></p-button>
    </div>
</p-dialog>