<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>
<p-sidebar [(visible)]="sidebarVisible" styleClass="w-25rem">
    <ng-template pTemplate="header"><div class="text-xl font-bold text-gray-500"><i class="pi pi-filter mr-1"></i> Filtros</div></ng-template>
    <div class="flex flex-column w-full">
        <label class="mb-2">Marca(s):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_brand" [(ngModel)]="filter.brands" optionLabel="name" optionValue="id" placeholder="Selecione..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2">
        <label class="mb-2">Coleção(ões):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_collect" [(ngModel)]="filter.collections" optionValue="id" optionLabel="name" placeholder="Selecione um ou mais itens..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2">
        <label class="mb-2">Categoria(s)/Coordenado(s):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_categ" [(ngModel)]="filter.categories" optionValue="id" optionLabel="name" placeholder="Selecione um ou mais itens..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2">
        <label class="mb-2">Modelo(s):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_model" [(ngModel)]="filter.models" optionLabel="name" optionValue="id" placeholder="Selecione um ou mais itens..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2">
        <label class="mb-2">Tipo(s):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_type" [(ngModel)]="filter.types" optionLabel="name" optionValue="id" placeholder="Selecione um ou mais itens..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2">
        <label class="mb-2">Tamanho(s):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_size" [(ngModel)]="filter.sizes" optionLabel="name" optionValue="id" placeholder="Selecione um ou mais itens..."></p-multiSelect>
    </div>
    <div class="flex flex-column w-full mt-2 mb-2">
        <label class="mb-2">Cor(es):</label>
        <p-multiSelect styleClass="w-full" emptyMessage="Nenhum registro encontrado!" [options]="all_color" [(ngModel)]="filter.colors" optionLabel="name" optionValue="id" placeholder="Selecione um ou mais itens...">
            <ng-template pTemplate="item" let-item>
                <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': item.hexcode}"></span> {{item.name}}
            </ng-template>
        </p-multiSelect>
    </div>
    <p-button icon="pi pi-ffilter" label="Filtrar" styleClass="w-full" (onClick)="doFilter()"></p-button>
</p-sidebar>


<p-sidebar position="right" [(visible)]="sidebarCart" styleClass="w-25rem" styleClass="w-30rem" appendTo="body">
    <ng-template pTemplate="header"><div class="text-xl font-bold text-gray-500"><i class="pi pi-shopping-cart mr-1"></i>Itens do Pedido</div></ng-template>
    <div class="flex flex-row w-full">
        <p-dataView [value]="cart_itens" layout="list" styleClass="mb-4" [loading]="loading" emptyMessage="Nenhum item para ser exibido!">
            <ng-template pTemplate="listItem" *ngIf="level_access==levels.STORE" let-product>
                <div class="flex flex-column w-full">
                    <h6>{{product.name}}</h6>
                    <div class="flex flex-row justify-content-between w-full">
                        <small class="text-bluegray-300"><strong>{{product.itens}} itens</strong> X UN {{product.price_un |currency}}</small>
                        <span class="text-bluegray-300">{{product.total_price | currency}}</span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="listItem" *ngIf="level_access==levels.ADMIN || level_access==levels.REPR" let-product>
                <div class="flex flex-column w-full">
                    <label class="font-bold text-base">{{product.name}}</label>
                    <div style="max-width: 250px!important;" class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{product.fantasy_name}}</div>
                    <div class="flex flex-row justify-content-between w-full mb-1">
                        <small class="text-bluegray-300"><strong>{{product.itens}} itens</strong> X UN {{product.price_un |currency}}</small>
                        <span class="text-bluegray-300">{{product.total_price | currency}}</span>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <div style="bottom: 0px!important;">
        <p-button [disabled]="totalMyItens==0?true:false" styleClass="w-full p-button-danger" icon="pi pi-supplier" label="Revisar e Finalizar Pedido" iconPos="right" (onClick)="gotoCheckout()"></p-button>
    </div>
</p-sidebar>