<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Grade de Produto" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">Grades de Produtos</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-overlayPanel #pnlMassive>
                    <ng-template pTemplate="content">
                        <h5>Alteração em Massa</h5>
                    </ng-template>
                </p-overlayPanel>
                <p-button [disabled]="disabledNew" icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Excluir selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <!-- <p-button [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button> -->
                <p-button icon="pi pi-filter" [severity]="'warning'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar excluído(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 180px!important;" class="text-center" pFrozenColumn>Ações</th>
                    <th pSortableColumn="name" pFrozenColumn>Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="default">Padrão? <p-sortIcon field="default"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn>
                        <p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id)"></p-button>
                        <p-button [text]="true" icon="pi pi-prod-grid-edit" pTooltip="Adicionar Distribuição" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditGrid(item.id)"></p-button>
                        <p-button [text]="true" icon="pi pi-eye" pTooltip="Ver Distribuição" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="gridView.toggle($event)"></p-button>
                        <p-overlayPanel #gridView (onShow)="onViewGrid({page:0,pageCount:0},item.id)" styleClass="w-30rem" (onHide)="onHideGrid()">
                            <p-table styleClass="p-datatable-sm p-datatable-striped"
                            [value]="distributionInGrid"
                            [loading]="loadingGrid"
                            [scrollable]="true"
                            scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Cor(es)</th>
                                        <th *ngFor="let size of sizes">{{size.size}}</th>
                                        <th>Ação</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-grid>
                                    <tr>
                                        <td>{{grid.color}}</td>
                                        <td *ngFor="let size of grid.sizes">{{size.value}}</td>
                                        <td>
                                            <p-button [text]="true" icon="pi pi-pencil" styleClass="p-button-sm" pTooltip="Editar" tooltipStyleClass="text-sm" tooltipPosition="top" (onClick)="onEditGrid(item.id,grid.id_color)"></p-button>
                                            <p-button [text]="true" icon="pi pi-trash" styleClass="p-button-sm" severity="danger" pTooltip="Excluir" tooltipStyleClass="text-sm" tooltipPosition="top" (onClick)="onDeleteGrid(item.id,grid.id_color)"></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center">Nenhum cliente encontrado!</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-overlayPanel>
                    </td>
                    <td pFrozenColumn>{{item.name}}</td>
                    <td>{{item.default==true?'Sim':'Não'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>
<p-dialog [visible]="showDistribution" header="Distribuição de Grade" [modal]="true" [closable]="false"[style]="{ width: '30rem' }">
    <div class="flex flex-column mb-2">
        <label class="mb-1">Cor</label>
        <p-dropdown 
        [options]="all_color" 
        optionLabel="name" 
        appendTo="body"
        placeholder="Selecione..."
        styleClass="w-full"
        [filter]="true"
        filterBy="name"
        [(ngModel)]="selectedColor">
        <ng-template pTemplate="selectedItem">
            <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': selectedColor.hexcode}"></span> {{selectedColor.name}}
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <span class="border-round-sm pl-2 pr-2 mr-2" [ngStyle]="{'width': '15px', 'height':'10px', 'background-color': item.hexcode}"></span> {{item.name}}
        </ng-template>
    </p-dropdown>
    </div>
    <div class="flex flex-column mb-2" *ngFor="let size of all_size">
        <label class="mb-1">{{size.name}} - {{size.new_size}}</label>
        <p-inputNumber [showButtons]="true" [min]="0" styleClass="w-full" inputStyleClass="w-full" [(ngModel)]="formDistribution[size.id].value"></p-inputNumber>
    </div>
    <div class="flex flex-row justify-content-end w-full gap-1">
        <p-button icon="pi pi-ban" label="Cancelar" severity="danger" styleClass="p-button-sm" (onClick)="onCancelEdit()"></p-button>
        <p-button icon="pi pi-save" label="Salvar" (onClick)="onSaveGrid()" styleClass="p-button-sm"></p-button>
    </div>
</p-dialog>