<p-dialog [(visible)]="visible" styleClass="md:w-6 w-30rem" (onHide)="clearFields()" [header]="title" [modal]="true" [closable]="false">
    <!-- <h5 class="text-center">{{title}}</h5> -->
    <ng-container>
        <div class="flex flex-column w-full md:flex-row mb-2 gap-2" *ngFor="let row of rows">
            <div class="flex flex-column w-full" *ngFor="let field of row.fields">
                <label *ngIf="field.type!=fieldType.CHECK && field.type!=fieldType.HIDDEN && field.type!=fieldType.PASSWD" class="mb-1">{{field.label}}</label>
                <input *ngIf="field.type==fieldType.INPUT" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                <input *ngIf="field.type==fieldType.TAXVAT" mask="000.000.000-00||00.000.000/0000-00" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                <p-iconField [iconPosition]="'right'" *ngIf="field.type==fieldType.POSTAL_CODE">
                    <p-inputIcon *ngIf="loadingPC" styleClass="pi pi-spinner pi-spin" />
                    <input *ngIf="field.type==fieldType.POSTAL_CODE" mask="00.000-000" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}" (ngModelChange)="getPostalCode($event,field.dependent)">
                </p-iconField>
                <textarea *ngIf="field.type==fieldType.TEXT" rows="5" pInputTextarea [(ngModel)]="field.value"  [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}" class="w-full"></textarea>
                <p-iconField iconPosition="right" *ngIf="field.type==fieldType.BARCODE" class="w-full">
                    <p-inputIcon styleClass="pi pi-barcode"/>
                    <input class="w-full" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                </p-iconField>
                <ng-container *ngIf="field.type==fieldType.IMGURL">
                    <div class="flex flex-row gap-1" *ngFor="let option of field.options">
                        <p-iconField iconPosition="right" class="w-full mb-1">
                            <p-inputIcon styleClass="pi pi-link"/>
                            <input class="w-full" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="option.label" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !option.value}">
                        </p-iconField>
                        <p-checkbox [(ngModel)]="option.value" [binary]="true" (ngModelChange)="setOnlyCheckbox(option.id,field.options)"></p-checkbox>
                    </div>
                </ng-container>
                <p-inputNumber *ngIf="field.type==fieldType.MONEY" mode="currency" currency="BRL" locale="pt-BR" styleClass="w-full" inputStyleClass="w-full" [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-inputNumber>
                <p-inputNumber *ngIf="field.type==fieldType.NUMBER" [(ngModel)]="field.value" [showButtons]="true" [min]="0" styleClass="w-full" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-inputNumber>
                <p-calendar *ngIf="field.type==fieldType.DATE" dateFormat="dd/mm/yyyy" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-calendar>
                <p-overlayPanel #pnlIcons appendTo="body">
                    <ng-template pTemplate="content">
                        <div class="flex flex-wrap gap-1 w-21rem max-w-21rem">
                            <a *ngFor="let icon of icons" href="javascript:void(0)" (click)="setIcon(icon,field)" style="color: #666666!important;"><i class="material-symbols-outlined gap-1">{{icon}}</i></a>
                        </div>
                    </ng-template>
                </p-overlayPanel>
                <div class="flex flex-row gap-2 vertical-align-baseline">
                    <p-button *ngIf="field.type==fieldType.ICON" icon="pi pi-emoticon" (onClick)="pnlIcons.toggle($event)"></p-button>
                    <i *ngIf="field.type==fieldType.ICON" class="material-symbols-outlined">{{field.value}}</i>
                </div>
                <p-calendar *ngIf="field.type==fieldType.PERIOD" 
                    selectionMode="range" 
                    appendTo="body"
                    [readonlyInput]="true" 
                    [(ngModel)]="field.value" 
                    class="p-inputtext-sm pr-2" 
                    [showClear]="true" 
                    rangeSeparator="-" 
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''" 
                    (ngModelChange)="onDateChanged()" 
                    dateFormat="dd/mm/yyyy"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-calendar>
                <p-dropdown *ngIf="field.type==fieldType.COMBO" 
                    [options]="field.options" 
                    optionLabel="label"
                    appendTo="body" 
                    [showClear]="true" 
                    [filter]="true"
                    styleClass="w-full"
                    [(ngModel)]="field.value"
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''"
                    emptyMessage="Nenhum registro encontrado!"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                    <ng-template pTemplate="selectedItem">
                        {{field.value.label}}
                    </ng-template>
                </p-dropdown>
                <p-multiSelect *ngIf="field.type==fieldType.MCOMBO" 
                    [options]="field.options" 
                    [(ngModel)]="field.value" 
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''" 
                    styleClass="w-full"
                    [showClear]="true"
                    display="chip"
                    appendTo="body"
                    [maxSelectedLabels]="5"
                    [displaySelectedLabel]="true"
                    emptyMessage="Nenhum registro encontrado!"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-multiSelect>
                <div *ngIf="field.type==fieldType.COLOR" class="flex-1 flex flex-row gap-1 vertical-align-middle">
                    <p-colorPicker [(ngModel)]="field.value" styleClass="mt-2" appendTo="body"></p-colorPicker>
                    <input pInputText [(ngModel)]="field.value" [ngClass]="'w-full uppercase ' + (field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':''))">
                </div>
                <p-dropdown panelStyleClass="kcolor" *ngIf="field.type==fieldType.KCOLOR"
                    [options]="kcolors"
                    optionLabel="label"
                    appendTo="body" 
                    [showClear]="true"
                    [group]="true"
                    [filter]="false"
                    styleClass="w-full"
                    [(ngModel)]="field.value"
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''"
                    emptyMessage="Nenhum registro encontrado!"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                    <ng-template pTemplate="selectedItem">
                        <div [style]="{'background-color': field.value.label}">&nbsp;</div>
                    </ng-template>
                    <ng-template pTemplate="group" let-group>
                        {{group.label}}
                    </ng-template>
                    <ng-template pTemplate="item" let-color>
                        <div [style]="{'background-color': color.value, 'padding':'0.75rem 1.05rem' }">&nbsp;</div>
                    </ng-template>
                </p-dropdown>
                <p-checkbox *ngIf="field.type==fieldType.CHECK" [(ngModel)]="field.value" [binary]="true" [label]="field.label" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-checkbox>
                <div class="flex flex-row gap-2 mt-2" *ngIf="field.type==fieldType.RADIO">
                    <div class="flex" *ngFor="let opt of field.options">
                        <p-radioButton [name]="field.name" [value]="opt.value" [label]="opt.label" [(ngModel)]="field.value" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}" (ngModelChange)="field.lockField!=undefined?onChangeLock($event,field.lockField,1):null"></p-radioButton>
                    </div>
                </div>
                <div class="flex flex-row gap-2 mt-2 w-full" *ngIf="field.type==fieldType.PASSWD">
                    <div class="flex flex-column w-full">
                        <label>{{field.label.split("|")[0]}}</label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" appendTo="body" [promptLabel]="(field.placeholder!=undefined)?field.placeholder.split('|')[0]:''"  weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte" [toggleMask]="true" [(ngModel)]="field.value[0]" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value[0]}"></p-password>
                    </div>
                    <div class="flex flex-column w-full">
                        <label>{{field.label.split("|")[1]}}</label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" appendTo="body" [promptLabel]="(field.placeholder!=undefined)?field.placeholder.split('|')[1]:''" weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte" [toggleMask]="true" [(ngModel)]="field.value[1]" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && (!field.value[1] || field.value[0]!=field.value[1])}"></p-password>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="flex flex-row justify-content-end w-full gap-1">
        <p-button icon="pi pi-ban" label="Cancelar" severity="danger" styleClass="p-button-sm" (onClick)="clearFields()"></p-button>
        <p-button icon="pi pi-save" label="Salvar" (onClick)="doSave()" styleClass="p-button-sm"></p-button>
    </div>
</p-dialog>