<p-dialog [(visible)]="visible" styleClass="w-6" (onHide)="clearFields()" [header]="title" [modal]="true">
    <!-- <h5 class="text-center">{{title}}</h5> -->
    <ng-container>
        <div class="flex flex-row w-full mb-2 gap-2" *ngFor="let row of rows">
            <div class="flex flex-column w-full" *ngFor="let field of row.fields">
                <label *ngIf="field.type!=fieldType.CHECK && field.type!=fieldType.HIDDEN && field.type!=fieldType.PASSWD" class="mb-1">{{field.label}}</label>
                <input *ngIf="field.type==fieldType.INPUT" pInputText [placeholder]="field.placeholder!=undefined?field.placeholder:''" [(ngModel)]="field.value" [ngClass]="field.case==fieldCase.UPPER?'uppercase':(field.case==fieldCase.LOWER?'lowercase':'')" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                <p-inputNumber *ngIf="field.type==fieldType.NUMBER" [(ngModel)]="field.value" [showButtons]="true" [min]="0" styleClass="w-full" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-inputNumber>
                <p-calendar *ngIf="field.type==fieldType.DATE" dateFormat="dd/mm/yyyy" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-calendar>
                <p-calendar *ngIf="field.type==fieldType.PERIOD" 
                    selectionMode="range" 
                    appendTo="body"
                    [readonlyInput]="true" 
                    [(ngModel)]="field.value" 
                    class="p-inputtext-sm pr-2" 
                    [showClear]="true" 
                    rangeSeparator="-" 
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''" 
                    (ngModelChange)="onDateChanged()" 
                    dateFormat="dd/mm/yyyy"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-calendar>
                <p-dropdown *ngIf="field.type==fieldType.COMBO" 
                    [options]="field.options" 
                    optionLabel="label"
                    appendTo="body" 
                    [showClear]="true" 
                    [filter]="true"
                    styleClass="w-full"
                    [(ngModel)]="field.value"
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''"
                    emptyMessage="Nenhum registro encontrado!"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}">
                    <ng-template pTemplate="selectedItem">
                        {{field.value.label}}
                    </ng-template>
                </p-dropdown>
                <p-multiSelect *ngIf="field.type==fieldType.MCOMBO" 
                    [options]="field.options" 
                    [(ngModel)]="field.value" 
                    [placeholder]="field.placeholder!=undefined?field.placeholder:''" 
                    [showClear]="true"
                    display="chip"
                    appendTo="body"
                    [maxSelectedLabels]="3"
                    emptyMessage="Nenhum registro encontrado!"
                    [disabled]="field.disabled"
                    [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-multiSelect>
                <p-checkbox *ngIf="field.type==fieldType.CHECK" [(ngModel)]="field.value" [binary]="true" [label]="field.label" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-checkbox>
                <div class="flex flex-row gap-2 mt-2" *ngIf="field.type==fieldType.RADIO">
                    <div class="flex" *ngFor="let opt of field.options">
                        <p-radioButton [name]="field.name" [value]="opt.value" [label]="opt.label" [(ngModel)]="field.value" [disabled]="field.disabled" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value}"></p-radioButton>
                    </div>
                </div>
                <div class="flex flex-row gap-2 mt-2 w-full" *ngIf="field.type==fieldType.PASSWD">
                    <div class="flex flex-column w-full">
                        <label>{{field.label.split("|")[0]}}</label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" appendTo="body" [promptLabel]="(field.placeholder!=undefined)?field.placeholder.split('|')[0]:''"  weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte" [toggleMask]="true" [(ngModel)]="field.value[0]" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && !field.value[0]}"></p-password>
                    </div>
                    <div class="flex flex-column w-full">
                        <label>{{field.label.split("|")[1]}}</label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" appendTo="body" [promptLabel]="(field.placeholder!=undefined)?field.placeholder.split('|')[1]:''" weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte" [toggleMask]="true" [(ngModel)]="field.value[1]" [ngClass]="{'ng-invalid ng-dirty' : (sended && field.required) && (!field.value[1] || field.value[0]!=field.value[1])}"></p-password>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="flex flex-row justify-content-end w-full gap-1">
        <p-button icon="pi pi-ban" label="Cancelar" severity="danger" styleClass="p-button-sm" (onClick)="clearFields()"></p-button>
        <p-button icon="pi pi-save" label="Salvar" (onClick)="doSave();" styleClass="p-button-sm"></p-button>
    </div>
</p-dialog>